{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<h1 style = "text-align: center"> Past Statement </h1>
<div class="p-3 mb-2 bg-secondary text-white">
  <p>Below you will find the most recent previous statement that was created with your check input. You can view your previous two statements as well with the buttons below. <p>
</div>

<form>
	<div class = "form-row">
		<div class = "col-2">
			<button type = "button" class = "btn btn-success">Prior Statement</button>
      </div>
		<div>
			<button type = "button" class = "btn btn-success">Prior 2 Statement</button>
		</div>
	</div>

</form>
<div class="row">
	<div class="col-md-9">


<h2>Previous Statement is shown below:</h2>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Amount Spent</th>
    </tr>
  </thead>
  <tbody>






    <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Groceries</td>
      <td>{{statment01.category.groceries}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Outside Food</td>
      <td>{{statment01.category.outsideFood}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Coffe</td>
      <td>{{statment01.category.coffee}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Gas</td>
      <td>{{statment01.category.gas}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Rent/Morgage</td>
      <td>{{statment01.category.rentMorgage}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Housing Repairs</td>
      <td>{{statment01.category.LivingReparis}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Medical</td>
      <td>{{statment01.category.medical}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>School Fees</td>
      <td>{{statment01.category.schoolFees}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Electronic Purchases</td>
      <td>{{statment01.category.shoppingElectronics}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Clothing Purchases</td>
      <td>{{statment01.category.shoppingFashion}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Kitchen Equipment</td>
      <td>{{statment01.category.kitchenEquipment}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Legal Payments</td>
      <td>{{statment01.category.legalPayments}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Child Care</td>
      <td>{{statment01.category.childCare}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Enjoyment</td>
      <td>{{statment01.category.enjoyment}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Credit Card Bill</td>
      <td>{{statment01.category.creditCard}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Pets</td>
      <td>{{statment01.category.petFees}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Self Care</td>
      <td>{{statment01.category.selfCareselfDevlopment}}</td>
    </tr>
        <tr>
      <th scope="row">{{statment01.dateInput}}</th>
      <td>Gym</td>
      <td>{{statment01.category.gym}}</td>
    </tr>
  </tbody>
</table>
</div>

<div class="col-md-3">
	<p>advertisment here, place picture in here</p>
</div>

</div>

{% endblock %}